{% extends 'base.html.twig' %}

{% block body %}

  <h1>Mi primer landing page</h1>
  <button type="button"><a href="./1"> Producto 1 </a></button>
  <button type="button"><a href="./2"> Producto 2 </a></button>

{% endblock %}
